.logo-text {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}
.text-green {
    color: #44b78b;
}
.offcanvas-bg-green {
    background-color :#115134;
}
